// fontes

$font: "Ubuntu", sans-serif;

//cores

$rosa: #f3607d;
$rosa-escuro: #f03c60;
$verde-claro: #72e0d1;
$off-white: #e2cfd3;
$preto: #040404;
$marrom-claro: #594649;
$cinza: #737474;
$verde-escuro: #2e675f;
$cinza-escuro: #3b3c3c;
$marrom: #2b2023;

//estilo do texto navegação

@mixin estilo-nav {
  font-family: $font;
  text-transform: uppercase;
}

//estilo transicao navegação

@mixin transicao-nav {
  transition-duration: 0.4s;
  font-weight: bold;
}
