@import "../../variaveis.scss";

.input-location {
  //width: 25%;
  height: 3.5rem;
  border-radius: 10px;
  border: 1.5px solid $off-white;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}
div {
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 50%;
  background-color: $pink;
  padding: 10px;
  width: 1.5rem;
  height: 1.5rem;
  margin: auto 10px auto 3px;
}

