@import "../../variaveis.scss";

nav {
  @include estilo-nav;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: -1rem 0 0 2rem;
}

a {
  text-decoration: none;
  color: $grey;

  &:hover {
    @include transicao-nav;
    @include hover-nav;
  }
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  margin: 0;
  padding: 0 1.5vw 0 0;
}

img {
  width: 10rem;
}

button {
  @include estilo-nav;
  color:$dark-grey;
  background-color: $light-green;
  border: none;
  width: 10vw;
  height: 8vh;
  border-radius: 8px;

  &:hover {
    @include transicao-nav;
    background-color: $dark-green;
    color: white;
  }
}
