<div class="main">
  <h1>Find your doctor an make an appointment</h1>
  <p>Select preferred doctor and time slot to book appointment or consultation.</p>
  <div class="box">
    <div class="box-header">
      <h2>Book appointment now</h2>
      <div class="box-nav">
        <div class="box-general">
          <div class="general"></div>
          <a href="#">General</a>
        </div>
        <div class="box-pediatric">
          <div class="pediatric"></div>
          <a href="#">Pediatric</a>
        </div>
        <div class="box-dentist">
          <div class="dentist"></div>
          <a href="#">Dentist</a>
        </div>
        <div class="box-neurologist">
          <div class="neurologist"></div>
          <a href="#">Neurologist</a>
        </div>
      </div>
    </div>
    <form action="">
      <div class="input-location">
        <img class="image-map" rc="../../assets/mapa-branco.png" alt="">
        <label for="location">Location</label>
        <input type="text" name="location" >
      </div>
      <input type="date" name="date" class="input-date">
      <select name="who" class="select">
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
      </select>
      <button type="submit" class="button">Search</button>
    </form>
  </div>
