<div class="main">
  <h1>Find your doctor an make an appointment</h1>
  <p>Select preferred doctor and time slot to book appointment or consultation.</p>
  <div class="box">
    <div class="box-header">
      <h2>Book appointment now</h2>
      <div class="box-nav">
        <div class="box-general">
          <div class="general"></div>
          <a href="#">General</a>
        </div>
        <div class="box-pediatric">
          <div class="pediatric"></div>
          <a href="#">Pediatric</a>
        </div>
        <div class="box-dentist">
          <div class="dentist"></div>
          <a href="#">Dentist</a>
        </div>
        <div class="box-neurologist">
          <div class="neurologist"></div>
          <a href="#">Neurologist</a>
        </div>
      </div>
    </div>
    <form action="">
      <input type="text" name="location" id="">
      <input type="date" name="date" id="">
      <select name="who" id="">
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
        <option value=""></option>
      </select>
      <button type="submit"></button>
    </form>
  </div>
