<nav>
    <ul>
        <li>
            <a href="#">
                <img src="../../assets/logo-hospital.png" width="100px" alt="logotipo">
            </a>
        </li>
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
        <li>
            <a href="#">About Us</a>
        </li>
        <li>
            <a href="#">Register</a>
        </li>
        <li>
            <button>Login</button>
        </li>
    </ul>
</nav>