body {
    margin:0;
}

nav {
    margin: 15px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
    text-decoration: none;
    color: green;
}

li:nth-child(2) {
    margin-left:55%;
}

