@import "../../variaveis.scss";

.box {
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 25vh;
  position: absolute;
  z-index: auto;
  background-color: white;
  box-shadow: 0 0 1em $grey;
  padding: 1.5rem;
  margin-top: 0.5vh;
  border-radius: 15px;
  justify-content: space-around;
}

.box-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

app-form-title-component {
  width: 35%;
}

app-form-nav-component {
  width: 65%;
}

//form

form {
  font-family: $font;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4.5rem;
}

app-form-location-component {
  width: 27%
}

app-form-date-component {
  width: 27%;
}

app-form-select-component {
  width: 22%;
}

app-form-button-component {
  width: 17%;
}

