/* You can add global styles to this file, and also import other style files */
@import "variaveis.scss";

body {
  margin: 0;
}

label {
    font-size: 12px;
    color: $grey;
    margin-bottom: 0.5rem;
  }

input {
  border: none;
  width:100%;
  &::placeholder {
    font-size: 18px;
    color: $black;
  }
}
